@use "../../../scss/" as *;

.messages {
  padding: 10px 10px 10px 10px;
  height: calc(100% - $height-header-chat - $height-input-chat);
  overflow-y: auto;

  .message {
    display: flex;
    margin-bottom: 10px;
    
    .message_avt {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
    }

    &_content {
      max-width: 60%;
      width: max-content;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: start;
      @include mobile{
        max-width: 70%;
      }
      p {
        max-width: 100%;
        display: block;
        background-color: $color-primary;
        width: max-content;
        padding: 20px;
        color: $white;
        border-radius: 0 20px 20px 20px;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 10px;
      }
      img {
        max-width: 50%;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
      &_img_file{
        max-width: 400px;
        width: max-content;
        min-width: 100px;
        @include flex(center, unset);
        background-color: $color-primary;
        padding: 10px 20px;
        border-radius: $border-radius;
        color: $white;
        cursor: pointer;
        i{
          margin-right: 10px;
        }
        span{
          @include text(1);
          font-weight: 300;
          font-size: 1rem;
          flex: 1;
          @include mobile(){
            width: 100px;
          }
        }
        svg{
          font-size: 1.2rem;
          margin-left: 10px;
        }
      }
      &_time{
          color: $color-txt2;
          font-size: 0.8rem;
      }
    }

    &.owner {
      justify-content: flex-end;
      
      .message_avt {
        display: none;
      }

      .message_content{
        align-items: end;
        p {
          border-radius: 20px 0 20px 20px;
          background-color: $color-b2;
        }
        .message_content_img{
          @include flex(center, unset);
          justify-content: end;
          &_file{
              background-color: $color-b4;
          }
        }
      }

      
    }
  }
}
