$color-b1: #000000;
$color-b2: #16171b;
$color-b3: #1d1e24;
$color-b4: #20232b;
$color-bg: #262626;


$color-primary: #5852d6;
$color-txt1: #b6b8ba;
$color-txt2: #7c7c7c;

$white: #fff;
$black: #000;
$red: #eb4d4b;

$border-radius: 20px;

$height-navbar: 80px;

$height-header-chat: 60px;
$height-input-chat: 115px;

$mobile-width: 740px;
$tablet-width: 1113px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;